<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.cbl.mapper.Org_userExMapper">

    <select id="getAll" resultMap="com.gk.cbl.Bo.UserBo">
        select * from org_user
    </select>
</mapper>
