<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.cbl.mapper.Org_send_receMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gk.cbl.entity.Org_send_rece">
        <id column="id" property="id" />
        <result column="sendId" property="sendId" />
        <result column="receId" property="receId" />
        <result column="mesType" property="mesType" />
        <result column="content" property="content" />
        <result column="mesTime" property="mesTime" />
        <result column="isread" property="isread" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sendId, receId, mesType, content, mesTime, isread
    </sql>

    <!--查询某用户下的所有消息-->
    <select id="selectListBo" parameterType="java.util.Map"  resultType="com.gk.cbl.Bo.sendReceBo">
        select * from org_send_rece where receId = #{userid} <if test="isread != null and isread != 2"> and isread = #{isread}</if>
    </select>

</mapper>
