<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.cbl.mapper.Org_activityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gk.cbl.entity.Org_activity">
        <id column="id" property="id" />
        <result column="actTheme" property="actTheme" />
        <result column="actIntroduction" property="actIntroduction" />
        <result column="actDetail" property="actDetail" />
        <result column="actDate" property="actDate" />
        <result column="actTimeInterval" property="actTimeInterval" />
        <result column="issueBy" property="issueBy" />
        <result column="issueDate" property="issueDate" />
        <result column="readNum" property="readNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, actTheme, actIntroduction, actDetail, actDate, actTimeInterval, issueBy, issueDate, readNum
    </sql>

</mapper>
