<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.cbl.mapper.Org_mes_userMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gk.cbl.entity.Org_mes_user">
        <id column="id" property="id" />
        <result column="mesId" property="mesId" />
        <result column="userId" property="userId" />
        <result column="jobNum" property="jobNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mesId, userId, jobNum
    </sql>


</mapper>
